<h1>Changelog</h1>

<h2>version 0.6 - May 4, 2020</h2>

<ul>
<li>added StrictClass</li>
</ul>

<h2>version 0.5 - May 4, 2020</h2>

<ul>
<li>to_json/from_json and to_yaml/from_yaml added</li>
</ul>

<h2>version 0.4 - May 3, 2020</h2>

<ul>
<li>customizable field serialization</li>
<li>more support for field subclassing</li>
</ul>

<h2>version 0.3 - May 1, 2020</h2>

<ul>
<li>on_init hooks</li>
</ul>

<h2>version 0.2 - May 1, 2020</h2>

<ul>
<li>required and hidden fields<li>
<li>remap serialization</li>
<li>improved some ValueError messages</li>
</ul>

<h2>version 0.1 - April 29, 2020</h2>

<ul>
<li>first release</li>
<li>type checking, non-nullable types, defaults, immutable fields, choices, custom accessors/mutators, to_dict/from_dict ...</li>
</ul>

